# ## GPU Dependencies
# conda create -n gpu python=3.9
# conda install -c conda-forge cudatoolkit=11.2 cudnn=8.1.0

# Notebooks
jupyterlab
jsonlines

# Data analysis
pyarrow
pandas
numpy
matplotlib
gensim~=4.3.0
scikit-learn
tensorflow<2.11
tensorflow_io
#merlin-dataloader==0.0.2

# For local development
doppler-env
black[d]

# Google Cloud Services
google-cloud-bigquery
google-cloud-storage
pyspark~=3.3.1
otto~=1.0
setuptools>=65.5.1

annoy~=1.17.1